.hero{

    padding: 75px 0;

    .container{
        background-image: url(../images/advantages_bg.png);
        background-repeat: no-repeat;
        background-position: right center;

        @media #{$bigTab}{
            background-size: 90%;
            background-position: right 170%;
        }

        @media #{$tab}{
            background-image: none;
        }
    }
    
    .pre_title{
        font-size: 20px;
        @media #{$smallTab}{
            text-align: center;
        }
    }

    .title{
        font-weight: 700;
        font-size: 48px;
        line-height: 50px;
        
        @media #{$bigTab}{
            font-size: 40px;
            line-height: 40px;
        }

        @media #{$smallTab}{
            font-size: 32px;
            line-height: 36px;
            text-align: center;
        }
    }

    .hero_advantages{
        flex-wrap: wrap;
        gap: 24px 0;
        .advantage_item{
            flex: 0 0 auto;
            width: calc(50% - 25px);
            display: flex;
            align-items: center;
            gap: 0 16px;

            .name{
                font-weight: 700;
                font-size: 13px;
                line-height: 15px;
            }

            @media #{$smallTab}{
                width: 100%;
            }
        }
    }

    @media #{$smallTab}{
        padding: 40px 0;
    }
}